@model BrainBoost.Models.Course

@{
    ViewData["Title"] = "Details";

    var controller = ViewData["Controller"];
    var action = ViewData["Action"];
    bool isEnrolled = ViewData["isEnrolled"]=="true" ? true : false;
    bool needsPaying = ViewData["NeedsPaying"] == "true" ? true : false;

}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .button.active{
        background-color: #4e73df;
        color: white;
    }

    .button.active2 {
        background-color: #4e73df;
        color: white;
        width: 100%;
    }
    .button:hover{
        background-color: #858796;
    }

    .clickable-row {
        cursor: pointer;
    }
</style>
<h1>Details</h1>

<div>
    <h4 class="float-left">Course</h4>
    @if (@Model.Price > 0 && isEnrolled && User.IsInRole("Student"))
    {
        <a style="color:white" asp-controller="Course" asp-action="RefundConfirmation" asp-route-id="@Model.CourseId" class="btn btn-danger active float-right">Refund</a>
    }
    @if (!User.IsInRole("Professor") && !isEnrolled)
    {
        <a asp-controller="@controller" asp-action="@action" asp-route-id="@Model.CourseId" class="btn button active float-right">Enroll me</a>
    }
    <div class="clearfix"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.FirstName) @Html.DisplayFor(model => model.Professor.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
    @if(!needsPaying)
    {
        <table class="table table-striped table-bordered">
        <colgroup>
            <col style="width: 20%">
            <col style="width: 60%">
            <col style="width: 20%">
        </colgroup>
        <thead class="thead-dark">
            <tr>
                <th>Course Materials</th>
                <th>Content</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in (IEnumerable<BrainBoost.Models.CourseMaterial>)ViewData["CourseMaterials"])
            {
                <tr class="clickable-row" onclick="location.href='@Url.Action("CourseMaterial", "Course", new { id = material.CourseMaterialId })'">
                    <td>@material.Name</td>
                    <td>@material.Content</td>
                    <td>@material.UpdatedAt</td>
                </tr>
            }
        </tbody>
        </table>
    }
    else
    {
        <a asp-controller="@controller" asp-action="@action" asp-route-id="@Model.CourseId" class="btn button active2">Course Material</a>
    }
    @if (User.IsInRole("Professor") && Model.Professor.Username==User.Identity.Name)
    {
        <a asp-controller="Course" asp-action="AddMaterial" asp-route-id="@Model.CourseId" class="btn button active2">Add Course Material</a>
    }

</div>
