@model BrainBoost.Models.Course

@{
    ViewData["Title"] = "Details";

    var controller = ViewData["Controller"];
    var action = ViewData["Action"];
    bool isPaid = ViewData["isPaid"]=="true" ? true : false;

}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .button.active{
        background-color: #4e73df;
        color: white;
    }
    .button:hover{
        background-color: #858796;
    }
</style>
<h1>Details</h1>

<div>
    <h4 class="float-left">Course</h4>
    @if (!User.IsInRole("Professor") && Model.Price > 0 && !isPaid)
    {
        <a asp-controller="@controller" asp-action="@action" asp-route-id="@Model.CourseId" class="btn button active float-right">Enroll me</a>
    }
    <div class="clearfix"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
    <table class="table table-striped table-bordered">
        <colgroup>
            <col style="width: 100%">
        </colgroup>
        <thead class="thead-dark">
            <tr>
                <th>Course Materials</th>
            </tr>
        </thead>
    </table>
</div>
