@model IEnumerable<BrainBoost.Models.Course>
<!DOCTYPE html>
<html>
<head>
    <title>Course Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS styling for the tabs and progress bar */
        .tab-container {
            display: flex;
            margin-top: 20px; /* Added margin to create space below the title */
        }

        .tab {
            flex: 1;
            padding: 10px;
            background-color: #f2f2f2;
            border: none;
            border-bottom: 2px solid transparent;
            cursor: pointer;
        }

            .tab.active {
                background-color: #4e73df;
                color: #fff;
            }

        .progress-bar {
            width: 100%;
            background-color: #ffffff;
            border-radius: 4px;
            margin-top: 5px;
            overflow: hidden; /* Added overflow hidden to contain the progress bar fill */
        }

        .progress-bar-fill {
            background-color: #4e73df;
            height: 10px;
            border-radius: 4px;
            width: 0; /* Set initial width to 0 */
            transition: width 0.5s ease-in-out; /* Added a transition for smooth animation */
        }

        .clickable-row {
            cursor: pointer;
        }
    </style>
</head>
    <h1>My Courses</h1>
    <table class="table table-striped table-bordered">
        <colgroup>
            <col style="width: 30%">
            <col style="width: 17.5%">
            <col style="width: 17.5%">
            <col style="width: 17.5%">
            <col style="width: 17.5%">
        </colgroup>
        <thead class="thead-dark">
            <tr>
                <th>Course Name</th>
                <th>Price</th>
                <th>Students passed</th>
                <th>Passing percentage</th>
                <th>Last update</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="clickable-row" onclick="location.href='@Url.Action("DetailsForMyCourses", "Course", new { id = item.CourseId })'">
                    <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price) @Html.DisplayFor(modelItem => item.Currency)</td>
                    <td>@Html.DisplayFor(modelItem => item.CompletedCount)</td>
                    <td>
                        <div class="progress-bar">
                            <div class="progress-bar-fill" style="width: @(item.CompletedPercentage*100)%"></div>
                        </div>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
                </tr>
            }
        </tbody>
    </table>
</html>

