@model IEnumerable<BrainBoost.Models.CourseProgress>


@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@if (Model.Count() == 0)
{
    <div style="margin-top: 20px" class="alert alert-warning" role="alert">
        Nothing to show here! You are not enrolled in any course.
    </div>
}
else
{
    <h2>Your enrolled courses</h2>
    <p style="margin-bottom: 25px">Shows how much hours you have spent on each enrolled course.</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Course)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastAccess)
                </th>
                <th>
                    Percentage finished
                </th>
                <th>
                    Hours viewed
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    @if (item.LastAccess == null)
                    {
                        <td>
                            None
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.LastAccess)
                        </td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.Progress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Courses by hours viewed</h2>
    <p style="margin-bottom: 50px">Shows how much hours you have spent on each enrolled course.</p>

    <div class="chart">
        <canvas id="doughnutchart"></canvas>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>

    var doughnutchartCanvas = document.getElementById("doughnutchart");

     var studentname = [];
     var score = [];

    @if(Model.Count()>0)
    {
        foreach(var item in Model)
        {
            @:studentname.push('@item.Course.CourseName');
            @:score.push(@item.Hours);
        }
    }


    var doughnutChart = new Chart(doughnutchartCanvas, {
        type: 'doughnut',
        data: {
            labels: studentname,
        datasets: [{
            data: score,
            borderWidth: 0,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(157, 230, 41)',
                'rgb(41, 224, 230)',
                'rgb(255, 255, 0)'
            ],
            hoverBackgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(157, 230, 41)',
                'rgb(41, 224, 230)',
                'rgb(255, 255, 0)'
            ]
        }]
    },
        options: {
            responsive:true,
            legend: {
                position: "bottom",
                labels: {
                    boxWidth: 11,
                    fontColor: "#757681",
                    fontSize: 11
                }
            }
        }
    });

</script>