@model IEnumerable<BrainBoost.Models.CourseProgress>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

@if (Model.Count() == 0)
{
    <div style="margin-top: 20px" class="alert alert-warning" role="alert">
        Nothing to show here! You are not enrolled in any course.
    </div>
}
else
{

    <h2>Your created courses</h2>
    <p style="margin-bottom: 25px">Shows courses that you have created</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Course
                </th>
                <th>
                    Number of students
                </th>
                <th>
                    Students completed
                </th>
                <th>
                    Total hours viewed
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.courseMap)
            {
                <tr>
                    <td>
                        @item.Value["courseName"]
                    </td>
                    <td>
                        @item.Value["numberOfStudents"]
                    </td>
                    <td>
                        @item.Value["studentsCompleted"]
                    </td>
                    <td>
                        @item.Value["totalHours"]
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Course by enrolled students</h2>
    <p style="margin-bottom: 50px">Shows number of enrolled students in your courses.</p>

    <div class="chart">
        <canvas id="doughnutchart"></canvas>
    </div>

    <h2>Course by completed students</h2>
    <p style="margin-bottom: 50px">Shows number of students that finished and completed your courses.</p>

    <div class="chart">
        <canvas id="doughnutchart2"></canvas>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>

    var doughnutchartCanvas = document.getElementById("doughnutchart");
    var doughnutchartCanvas2 = document.getElementById("doughnutchart2");


     var courseName = [];
    var score = [];
    var score2 = [];


    @if(Model.Count()>0)
    {
        foreach(var item in ViewBag.courseMap)
        {
            @:courseName.push('@item.Value["courseName"]');
            @:score.push(@item.Value["numberOfStudents"]);
            @:score2.push(@item.Value["studentsCompleted"]);
        }
    }


    var doughnutChart = new Chart(doughnutchartCanvas, {
        type: 'doughnut',
        data: {
            labels: courseName,
        datasets: [{
            data: score,
            borderWidth: 0,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(157, 230, 41)',
                'rgb(41, 224, 230)',
                'rgb(255, 255, 0)'
            ],
            hoverBackgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(157, 230, 41)',
                'rgb(41, 224, 230)',
                'rgb(255, 255, 0)'
            ]
        }]
    },
        options: {
            responsive:true,
            legend: {
                position: "bottom",
                labels: {
                    boxWidth: 11,
                    fontColor: "#757681",
                    fontSize: 11
                }
            }
        }
    });

    var doughnutChart2 = new Chart(doughnutchartCanvas2, {
        type: 'doughnut',
        data: {
            labels: courseName,
            datasets: [{
                data: score2,
                borderWidth: 0,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(157, 230, 41)',
                    'rgb(41, 224, 230)',
                    'rgb(255, 255, 0)'
                ],
                hoverBackgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(157, 230, 41)',
                    'rgb(41, 224, 230)',
                    'rgb(255, 255, 0)'
                ]
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: "bottom",
                labels: {
                    boxWidth: 11,
                    fontColor: "#757681",
                    fontSize: 11
                }
            }
        }
    });

</script>