@model BrainBoost.Models.BillingCard

@using System.Globalization

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@{
    ViewData["Title"] = "Course Billing";
    var course = ViewBag.course;
    string priceText = course.Price != null ? $"{course.Price} {course.Currency}" : "Free";

}

<style>
    .button.active {
        background-color: #4e73df;
        color: white;
    }

    .button:hover {
        background-color: #858796;
    }
</style>

<div style="margin-top: 20px" class="text-center">
    <h1>Course Billing</h1>
    <p>Are you sure you want to pay for course @course.CourseName?</p>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <form asp-action="Create" asp-route-courseid=@course.CourseId>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="ExpiryMonth" class="control-label"></label>
                <select asp-for="ExpiryMonth" class="form-control" required>
                    @for (int i = 1; i <= 12; i++)
                    {
                        string monthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i);
                        <option value="@i.ToString("D2")">@monthName</option>
                    }
                </select>
                <span asp-validation-for="ExpiryMonth" class="text-danger"></span>
            </div>
            @if (TempData["MonthError"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["MonthError"]
                </div>
            }
            <div class="form-group">
                <label asp-for="ExpiryYear" class="control-label"></label>
                <select asp-for="ExpiryYear" class="form-control" required>
                    @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                    {
                        <option value="@i.ToString()">@i.ToString()</option>
                    }
                </select>
                <span asp-validation-for="ExpiryYear" class="text-danger"></span>
            </div>
            @if (TempData["YearError"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["YearError"]
                </div>
            }
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" required />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            @if (TempData["CVVError"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["CVVError"]
                </div>
            }


            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" required />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            @if (TempData["CardError"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["CardError"]
                </div>
            }

            @if (TempData["BalanceError"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["BalanceError"]
                </div>
            }

            <div style="height: 50px" class="alert alert-info" role="alert">
                <label class="control-label">Amount to be Paid:</label>
                <label id="amountLabel" class="form-control-label">@priceText</label>
            </div>


            <button type="submit" class="w-100 btn button active" style="float:right;">Pay</button>

        </form><!--asp-route-courseid=@course.CourseId -->
       
        
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

