@model IEnumerable<BrainBoost.Models.Billing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BillingCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPurchaseSuccessful)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillingCard.BillingCardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPurchaseSuccessful)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
